header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252b42;
    padding: 15px;
}

header .logo h4 {
    color: white;
}

header .links ul {
    display: flex;
    list-style-type: none;
}

header .links ul li a {
    text-decoration: none;
    color: white;
    margin: 0px 10px;
    transition: 2s;
}

header .links ul li a:hover {
    color: red;
}

header .buttons a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
}

header .buttons button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: none;
    text-align: center;
    cursor: pointer;
}

header .buttons i.sidebar {
    display: none;
}

@media (max-width:767px) {
    header .buttons {
        display: flex;
        align-items: center;
    }
    header .buttons i.sidebar {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 20px;
        margin: 0px 10px;
    }
    header .buttons {
        position: relative;
    }
    header .links {
        position: absolute;
        background-color: #252b42;
        height: 100vh;
        width: 100%;
        left: 0px;
        top: 60px;
        border-top: solid 1px white;
        left: -2000px;
        transition: 2s;
        z-index: 2;
    }
    header .links.active {
        left: 0px;
    }
    header .links ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        justify-content: center;
        line-height: 3;
    }
    header .links ul li a {
        display: block;
        width: 90%;
        margin: 10px auto;
        padding: 5px;
        text-align: center;
        color: white;
    }
}