.continer {
    text-align: center;
}

.content {
    padding: 10px;
}

.content .all_boxes {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.content .all_boxes .boxes {
    margin: 10px;
}

.content .all_boxes .boxes .box {
    padding: 10px;
    border-radius: 10px;
    background-color: #ccc;
}

.content .all_boxes .boxes .image img {
    width: 100%;
    margin-bottom: 20px;
}

.content .all_boxes .boxes .box .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.details-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    /* لون أزرق احترافي */
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    text-align: center;
    margin-top: 20px;
}