body {
    font-family: sans-serif;
}

.parent {
    background-image: url(../img/pr.avif);
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.parent::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 20%);
    z-index: -1;
}

.parent .card_start {
    padding: 10px;
    margin: 10px 10px;
    margin-top: 20px;
}

.parent .card_start input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 0px 10px;
}

.parent .card_start button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 5px 10px;
}

.parent .card_content {
    padding: 10px;
    margin: 10px;
}

.parent .card_content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px black;
    color: white;
    font-weight: bold;
}

.parent .start {
    text-align: center;
    color: white;
    font-weight: bold;
}

.parent i {
    margin-right: 10px;
}